body{
    font-family: "Sans-serif";
}
  .parent_container{
    height: 50vh;
    display: grid;
    place-items: center;
  }
  .container{
    width: 50%;
  }
  h1{
      text-align: center;
      margin-bottom: 3rem;
  }
  .bar-container {
    height: 35px;
    border-radius: 20px;
    background-color: rgba(235,235,235,0.9);
    margin-bottom: 2rem;
  }

  .bar {
    height: 100%;
    width: 50%;
    border: 2px solid rgba(110,110,110, 0.4);
    border-radius: 20px;
    position: relative;

      }
  .value{
      position: absolute;
      top: 10px;
      right: 15px;
      color: rgb(110,110,110);
      font-weight: bold;
      font-size: 18px;
  }
  .green-bar{
    background-color:#ADDB6A;
    background: repeating-linear-gradient(
    -55deg,
    #B0DF70,
    #BAE57B 10px,
    #94CA48 10px,
    #B2DF70 10px
    )
  }
  .red-bar{
    background-color:#FF8F7E;
    background: repeating-linear-gradient(
    -55deg,
    #FF9686,
    #FE9C8A 10px,
    #FFAA9D 10px,
    #EE6555 10px
    )
  }
  .white-bar{
    background-color:#fefefe;
  }
  .blue-bar{
    background-color:#84C7F3;
    background: repeating-linear-gradient(
    -55deg,
    #9CD2F4,
    #8AC8F0 10px,
    #89C9F1 10px,
    #71BEED 10px
    )
  }
  .yellow-bar{
    background-color:#FFDB88;
    background: repeating-linear-gradient(
    -55deg,
    #F4BB41,
    #FFD47A 10px,
    #FFD989 10px,
    #FFCF5D 10px
    )
  }
  .btn{
      width: 15rem;
      height: 3rem;
      border-radius: 15px;
      font-size: 20px;
      background-color: #6ab2db;
      color: #fff;
      border: 0px;

  }